<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>focus2hit</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

</head>
<body>
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="light-green-text text-darken-3 brand-logo">focus2hit</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="index.html">Logout</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#"></a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      </div>
  </nav>


  <!-- HOME -->

  <div class="section">

    <div class = "container">
      <div class="row">
        <div class = "col s12 m12 l12">
          <form action="/upload" enctype='multipart/form-data'>
            <div class="file-field input-field">
              <div class="btn green darken-4">
                <span>Add new data</span>
                <input type="file">
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text" placeholder="Upload one or more files">
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class = "col s12 m3 l3">
          <span>(*) Data must be format XXXXX</span>
        </div>
        <div class = "col s12 m9 l9">
          <nav>
            <div class="nav-wrapper green darken-4">
              <div class = "container">
                <a href="" class="brand-logo white-text">Custom dashboards</a>
              </div>
              <div class = "container">
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                  <li><a href=""><span class = "valign-center white-text">Visualitzation A</span></a></li>
                  <li><a href=""><span class = "valign-center white-text">Visualitzation B</span></a></li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </div>
      <div class="row">
        <div class = "col s12 m3 l3">
          <span>HERE GRID USERS DIV</span>
        </div>
        <div class = "col s12 m9 l9">
          <span>HERE VISUALITZATIONS DIV</span>
        </div>
      </div>
    </div>
  </div>


  <footer class="page-footer green darken-4">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Team Bio</h5>
          <p class="grey-text text-lighten-3">We are a team of master students trying to build a good, useful and multidisciplinar product for Agile Data Science subject.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Know more</h5>
          <ul>
            <li><a class="white-text" href="#!">See success cases</a></li>
            <li><a class="white-text" href="#!">Best practices on employee retention</a></li>
            <li><a class="white-text" href="#!">Try for free</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Facebook</a></li>
            <li><a class="white-text" href="#!">Twitter</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="white-text text-darken-1" href="http://materializecss.com">Materialize</a>
      <br>
      Free images from <a class="white-text text-darken-1" href="https://stocksnap.io/">Stocksnap.io</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>
